{% extends 'base.html' %}
{% load static %}


    {% block content %}
    <div class="container">
      
      <h3>Welcome to Site!!!</h3>

      <p>We get Best of Our thoughts in Weirdest places where we think Such as Shower , Bathroom and Many More</p>
      <p>But we tends to forget them Or Not able to share them</p>
      <p>So why Wait.. Login to our website start sharing your thoughts with the Word :) </p>

      <h3>How It Works?</h3>
      <li>
          <b>Read Other's Thought on Home Page, You can comment on them too</b>
          <b>Want to Share you thought? Get register and start sharing :)</b>
          <b>You can have thoughts as Public (Which will be shown on Home Page) Or Keep them Private to You Only</b>
          <b>You can click on User name to go to Your/Other's Timeline</b>
          <b>Enjoy!!!</b>

          <i>We are working on many features, Will keep you updated</i>

      </li>

      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91574512-1', 'auto');
  ga('send', 'pageview');

</script>
    </div>
    {% endblock %}

  